/* Global Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f5f0;
}

/* Base Styles */

.hd-container,
.container,
.ft-container {
    padding: 0 1rem;
    margin: 0 auto;
}

header {
    background-color: #000000;
    color: #FFFFFF;
    position: fixed;
    width: 100%;
}

.hd-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

nav {
    display: flex;
}

nav ul li {
    float: left;
    margin: 0 5px;
    list-style: none;
    font-size: .75rem;
}

.contact-li {
    margin-right: 0px;
}

.main-heading {
    margin-right: auto;
    text-align: center;
}

.main-heading h1,
.main-heading h3 {
    margin: 0px
}

.main-heading h1 {
    font-size: .75rem;
}

.main-heading h3 {
    font-size: .50rem;
}

a {
    text-decoration: none; 
}

a:link,
a:visited,
a:hover,
a:hover {
    color: #FFFFFF;
}


.banner {
    text-align: center;
    background: url('../img/color-dumbo.jpg') no-repeat center;
    background-size: cover;
    overflow: hidden;
    padding-top: 115px;
    padding-bottom: 50px;
}

.banner h1,
.banner h3,
.banner p {
    color: #FFFFFF;
    background-color: #000000;
    display: table;
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
}

.banner h1 {
    font-size: 1.50rem;
}

.banner h3 {
    font-size: 1rem;
}

.banner p {
    font-size: .75rem;
}

.profile-image {
    margin-top: 50px;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 3px solid white;
}

    @media only screen and (min-width: 768px) {
       
        /* Base Styles */

        .hd-container,
        .container,
        .ft-container {
            max-width: 800px;
        }
        
        .main-heading h1 {
            font-size: 1.25rem;
        }
        
        .main-heading h3 {
            font-size: .75rem;
        }

        nav ul li {
            font-size: 1rem;
        }

        .banner {
            padding-top: 145px;
        }

        .banner h1 {
            font-size: 2rem;
        }
        
        .banner h3 {
            font-size: 1.17rem;
        }
        
        .banner p {
            font-size: 1rem;
        }

        .profile-image {
            width: 150px;
            height: 150px;
        }

    }

    @media only screen and (min-width: 1024px) {

        /* Base Styles */

        .hd-container,
        .container,
        .ft-container {
            max-width: 1200px;
        }

    }