/* Global Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0 1rem;
    /* background-color: #000000;
    color: #FFFFFF; */
}

/* Base Styles */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: #000000;
    color: #FFFFFF;
}

.main-heading {
    margin-right: auto;
}

header {
    text-align: center;
    background: url('../img/new_background.jpg') no-repeat center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
}

header h1,
header h3,
header p {
    color: #FFFFFF;
}

.profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
}